.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.todoContainer {
  background: #ffffff;
  display: flex;
  width: 20vw;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FEFEFE;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.addBar{
  display: flex;
  gap: 4px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}

.todoListing{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch; 
}

.todoTittle{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 244px;
  height: 30px;
  list-style: none;
}

.editContainer {
  display: flex;
  align-items: center;
  gap: 2px; /* Espaço entre input e ícones */
}

.input{
  display: flex;
  height: 35px;
  padding: 9px 8px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 10px;
  border: 1px solid #C5C5C5;
  background: #F4F2F2;
}

.addButton{
  display: flex;
  color: #ffffff;
  font-weight: bold;
  height: 35px;
  padding: 9px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #0098A9;
  background: #0098A9;
}

.completeButton {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}