.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 1rem;
}

.auth-info {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.container-space-auth{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-auth {
  width: 80%;
  display: flex;
  padding: 2.2rem 2rem;
  flex-direction: column;
  gap: 1.5rem;
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

.container-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container-form input{
  padding: 1rem;
  width: 100%; 
  border: 1px solid #333;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}


@media (max-width: 600px) {
  .auth-page {
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
}

.container-form button {  width: 100%;
  padding: 0.75rem;
  background-color: #0098A9;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer; }